<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="images/app-icon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
</head>
<body>
    <div class="page-content">
        {{>header}}
        <img class="image" src="images/app-icon.png" alt="building">
    </div>
    {{>footer}}
</body>
</html>
