<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="images/app-icon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Error</title>
</head>
<body>
    <div class="page-content">
        {{>header}}
        <p>{{error}}</p>
    </div>
    {{>footer}}
</body>
</html>
